body {
    background:url(bg.jpg),repeating-linear-gradient(steelblue,white);
     background-size: 6000px 10px,6000px 500px;
    background-repeat: no-repeat,no-repeat;

}         
.container {
                position: relative;
                top: 20px;
                border-radius: 5px;
                box-shadow: 0 0 6px #ccc;
                padding: 15px 15px 15px 15px;
                width: 850px;
                background-color: white;
            }

.prof_details {
                border-left: 5px solid grey;
}

.black-background {background-color:#000000;}

.green {color:limegreen;}

.greenn {color:limegreen;}

.nav-background {background-color:#4682B4;}

.white {color:#ffffff;}

.btn:focus {
  outline: none;
}

hr {
    
    margin-top: 0.5em;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.asked_by {
    color: grey;
}

.nav1 {
    position: relative;
    left: 400px;
}

.disp_none {
    display: none;
}

.red-tooltip + .tooltip > .tooltip-inner {background-color: whitesmoke;}
.red-tooltip + .tooltip > .tooltip-inner {color: black; max-width: 550px;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f00; }

a.logo:hover {
    color: white;
}

.footer {
    background-color: #4682B4;
    margin-top: 50px;
}